body{
    background-image: url(./Images/whitebackground.png);
    box-sizing: border-box;
        display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

#container{
    width: 80%;
    display:flex;
    align-items: center;
   }

h1{
        font-weight: 980;
        text-align: center;
        margin: 3%;
        color: #477236 ;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
    }
    p{
        font-size: large;
        font-weight: 300;
        text-align: justify;
    }
    .birthdayGenderCollector {
        width: 50%;
        padding: 40px;
        background-color: white;
        border: 1px solid purple;
        border-radius: 4px;
        box-shadow: 0px 0px 5px gray;
    }
    
    h2 {
        margin-bottom: 20px;
        font-size: 25px;
    }
    
    h3 {
        margin-bottom: 20px;
    }
    
    form {
        width: 100%;
    }
    
    form :first-child {
        display: flex;
        flex-direction: column;
    }
    
    form :first-child input {
        padding: 10px;
        margin-bottom: 10px;
    }
    
    form :first-child label {
        margin-bottom: 20px;
    }
    
    form div input::-webkit-inner-spin-button, 
    form div input::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0px;
    }
    
    #radioInput {
        display: flex;
    }
    
    #radioInput label {
        margin-left: 10px;
        margin-bottom: 10px;
    }
    
    button {
        padding: 10px;
        margin-top: 10px;
        width: 30%;
        background-color: purple;
        color: white;
        border: none;
        border-radius: 4px;
    }
    
    button:hover {
        color: white;
        border: 1px solid purple;
    }
    
    #warning {
        color: red;
        
    }
    
    #results {
        color: black;
        margin-left: 20px;
        
    }
    
    .myResults {
        width: 50%;
        padding: 40px;
        background-color: white;
        border: 1px solid purple;
        border-radius: 4px;
        box-shadow: 0px 0px 5px gray;
        margin-top: 20px;
        display: flex;
    }
    
    #emptyDate {
        color: red;
        margin-bottom: 10px;
        
    }