body{
    background-image: url(./Images/whitebackground.png);   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#container{
    width: 80%;
    display:flex;
    align-items: center;
    float: left;
    margin-bottom: 2%;
   }

h1{
        font-weight: 980;
        text-align: center;
        margin: 3%;
        margin-bottom: 0%;
        color: #477236 ;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-size: 350%;
    }
    p{
        font-size: large;
        font-weight: 300;
        text-align: justify;
    }
    
    .main-left{
        text-align: center;
        color: white;
        padding: 0px 40px;
        background: url(/images/bg.jpeg) no-repeat  center center;
        background-size: cover;
    }
    .main-right{
        width: 50%;
        padding: 40px;
        background-color: white;
        border: 1px solid purple;
        border-radius: 4px;
        box-shadow: 0px 0px 5px gray;
    }
    
    ul{
        list-style: none;
    }
    h2 {
        margin-bottom: 20px;
        font-size: 25px;
    }
    #dates{
        text-align: left;
        font-size: 300%;
    }
    form {
        width: 100%;
    }
    
    #dob{
        width: 300px;
        border: none;
        border-bottom:2px solid #ff5722;
        margin-right: 5px;
    }
    ::-webkit-input-placeholder{
        color: #88847d;
    }
    .radio{
        margin-right: 5px;
    }
    .button{
        padding: 10px;
        margin-top: 10px;
        width: 30%;
        background-color: purple;
        color: white;
        border: none;
        border-radius: 4px;
    }
    .button:hover{
        background:#ff5722;
    }
    
    .errormessage{
        color: red;
        font-weight: 300;
        padding-top: 5px;
    }
    